.search {
  grid-area: search;
}
.search img {
  padding-top: 5px;
  padding-left: 5px;
}
.titleNameSearch {
  grid-area: searcht;
  padding-left: 35px;
  font-size: 26px;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}
.inputsearch {
  margin: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 80px;
  border-radius: 15px;
}
.users{
  margin-top: 15px;

}
.useritem{
  margin-top: 15px;
}
.photo {
  border-radius: 25px;
  width: 80px;
  height: 80px;
  margin-left: 15px;
  margin-top: 10px;
}
.info{
  margin-left: 110px;
  margin-top: -70px;
}
.follow{
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 15px;
  padding-right: 25px;
  border: none;
  background-color: rgba(0,212,255,1);
  transition-duration:0.4s;
}
.follow:hover{
  filter:brightness(0.8);
  transition-duration:0.4s;
}
.flname{
  margin-top: -5px;
}
.nickname{
  color: rgb(110, 118, 125);
  font-size: 13px;
  font-weight: 300;
}