.app-wrapper{
  background-color: black;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-family: sans-serif;
  display: grid;
  width: 100%;
  margin: 0px auto;
  grid-template-areas:
  'nav title searcht'
  'nav cont search';

  grid-template-columns: 297.5px auto 306.5px;
  grid-template-rows: 75px;
  /* grid-gap: 10px;  */
}









